<html>
	<head>

	<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>

	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">

	</head>

<body>

<div class="titleRow">

<h1 class='title'> Are you sure you want to delete {{s.name}}? </h1>

</div>

<div class='pane'>

<form action='{{ url_for('deleteSubTopic', topic_id=s.topic_id, subtopic_id = s.id) }}' method = 'post'>

<input type='submit', value = 'Delete'>




</form>

<a href = '{{ url_for('showSubTopics', topic_id = s.topic_id) }}'> Cancel </a>

</div>

</body>

</html>