<html>
	<head>

	<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>

	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
		
	</head>
	<body>
		<div class="titleRow"><h1 class='title'>Edit Topic</h1></div>
		<div class='pane'>
		<form action='{{ url_for('editTopic', topic_id = i.id) }}' method="post">
			<h2>Edit {{i.name}}?</h2>
			<p>Name:</p>
			<input type="text" size = '30' name='name' value='{{i.name}}'>
			<p>Description:</p>
			<input type="text" size="60" name = 'description' value='{{i.description}}'>
			<input type="submit" value='Edit'>


			<a href='{{ url_for('showTopics') }}'>Cancel</a> 
		</form>
		</div>
	</body>
</html>