<html>
	<head>

	<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>

	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
		
	</head>
	<body>
		<div class="titleRow"><h1 class='title'>New Item in Subtopic</h1></div>

		<div class='pane'>

		<form action='{{ url_for('newSubTopicItems', topic_id = topic_id, sub_topic_id = sub_topic_id) }}' method='post'>
			
			<p>Name:</p><input type='text' name='name'><br>
			
			<p>Description:</p><input type='text' name='description'><br>
			<p>Picture:</p><input type ='text' name ='picture' placeholder='Enter a link to image'>
			<br>
			<p>URL:</p><input type ='text' name ='link' placeholder='Enter a link to item'>
			<br><br>

			<input type='submit' value='Create'>

			<a href='{{ url_for('showSubTopicItems', topic_id = topic_id, sub_topic_id = sub_topic_id) }}'>Cancel</a> 
		</form>
		<br>

		</div>
		
	</body>
</html>