<html>
	<head>

	<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>

	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
		
	</head>
	<body>
		
		<div class="titleRow"><h1 class="title">Topics</h1>

				<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul class='flashMessage'>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


		</div>


		<div class="leftNav">
		<div class="leftLinks">
		{%if 'username' not in session%}
		<a href='{{url_for('showLogin')}}'>Click here to Log in.</a>
		{% else %}
		<a href='{{url_for('disconnect')}}'>Disconnect</a>
		{% endif %}





		{% if topics %}
		<ul class='topicList'>
		{% for topic in topics %}
		<li><strong>{{ topic.name }}</strong><br>
		
		<a href='{{ url_for('showSubTopics', topic_id = topic.id) }}'>Show Topics</a><br><br>
		</li>
		
		{% endfor %}
		</ul>
		{% else %}
		<h2>Uh oh, you need to log-in to create, edit and delete topics. Please log in.</h2>
		{% endif %}

		</div>

		</div>
		
	</body>
</html>